[Unit]
Description=Prometheus exporter for Nextcloud metrics
After=network.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/bin/nextcloud-exporter -c /etc/nextcloud-exporter.yml
User=nextcloud-exporter
Group=nextcloud-exporter
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RestartSec=20

[Install]
WantedBy=multi-user.target
